body {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hidden {
  display: none;
}

input {
  margin: 1rem;
  font-size: 13px;
}

p {
  margin: .5rem;
}

textarea {
  font-size: 13px;
}

.time-p {
  font-size: 13px;
}
.note-list {
  display: flex;
  flex-direction: column;
}

.note-item {
  font-size: 18px;
}

.note-item:hover {
  color: #ffa5a5;
}

h1{
  background-color: #ff5722;
  margin: 0 !important;
  font-family: "Roboto";
  font-weight: 100;
  color: snow;
  padding-top: 15px;
  padding-bottom: 15px;
}
.new-note-div{
  background-color: #ff5722;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
.new-note-div:hover {
  background-color: #ff5722;
}

.new-note-button{
  background-color: #ff5722;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
.new-note-div:active {
  background-color: #ff5722;
  transform: translateY(4px);
}



.new-note-button:hover {
  background-color: #ff5722;
}

.new-note-button:active {
  background-color: #ff5722;
  transform: translateY(4px);
}

.save-exit-button{
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff5722;
  border: none;
  border-radius: 4px;
}

.save-exit-button:hover {
  background-color: #ff5722;
}

.save-exit-button:active {
  background-color: #ff5722;
  transform: translateY(4px);
}

.delete-button{
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff5722;
  border: none;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #ff5722;
}

.delete-button:active {
  background-color: #ff5722;
  transform: translateY(4px);
}
