#div1, #div2, #div3, #div4 {
    float: left;
    width: 70px;
    height: 70px;
    margin: 0px;
    padding: 10px;
    border: 1px solid black; /*ajutine, et näha lihtsalt kus kastid asuvad*/
}

#form{
	
}

#drag1:active {
    width: 59px;
    height: 59px;
}


#list {
	position: absolute;
	border: 1px solid black;
	width: 400px;
	top: 20%;
	left: 50%;
	margin-left: -200px;
	word-wrap: break-word;  
	border-radius: 5px;
	background-color: #fff5cc;
	
}
li{
	margin-right: 10px;
	margin-top: 40px;
	
}
#input {
	position: absolute;
	width: 60%;
	left: 4px;
	top: 5px;
	border-radius: 3px;
}
#submit {
	position: absolute; 
	left: 65%;
	top: 4px;
}
#closeBtn {
	position: absolute;
	right: 1px;
	
}
#closeBtn:active {
    width: 32px;
    height: 32px;
}
